html{
    height: 100%;
    background-color: #ebeff2;
}

/* Card in the center of the screen */
.card{
    width: 1200px;
    min-height: 570px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    display: inline-block;
}

.title{
    color:#818181;
}

.minorTitle{
    color:#adadad;
}

.sidenav{
    border-right: thin #eee solid;
    width: 30%;
    float: left;
}

.formContainer{
    width: 70%;
    float: right;
    min-height: 70vh;
}

.CVButton{
    display: block;
    float: right;
    margin-top: 10px;
}

.footer {
    position: fixed;
    padding: 5px 0px 75px 90px;
    bottom: 0;
    width: 80%;
    /* Height of the footer*/ 
    height: 40px;
    background:#fff;
}

.footerButton{
    display: block;
    float: right;
    margin-top: 10px;
}

*{
    font-family: 'Roboto', sans-serif;
}

.stylishTitle{
    font-family: 'Square Peg', cursive !important;
}

.educationParts{
 
    padding: 15px;
    margin-bottom: 10px;

    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}