html{
    height: 100%;
    background-color: #ebeff2;
   
}


.text-center{
    text-align: 'center' !important;
}

hr{
    width:30%;
    border:1px #eee solid;
}

/* Card in the center of the screen */
.card{
    width: 1200px;
    min-height: 570px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
}

.title{
    color:#818181;
}

.minorTitle{
    color:#adadad;
}

.sidenav{
    border-right: thin #eee solid;
    width: 30%;
    float: left;
}

.formContainer{
    width: 70%;
    float: right;
}

.footer {

    /* Height of the footer*/ 
    height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    background:#fff;
}

.footerButton{
    display: block;
    float: right;
    margin-top: 10px;
}

*{
    font-family: 'Roboto', sans-serif;
}

.stylishTitle{
    font-family: 'Square Peg', cursive !important;
}

.skill-name{
    padding-top:200px !important;
}


.educationParts{
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.8);
}

.workPartTitle{
    font-size: 20px;
    color: #818181;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-top: 10px;
    text-align: left;
}   

.workPartTitle span{
    font-size: 20px;
    color: #1976d2;
    margin-bottom: 20px;
    text-align: left;
}



@media print {
    *{
        font-family: 'Playfair Display', serif !important;
    }
    .CVPDF {
        display: block;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
    }
    .CVPDF-header{
        letter-spacing: 4px;
        text-align: center;
    }
    h1{
        padding:0px !important;
    }
    .floatLeft{
        float: left !important;
    }
    .floatRight{
        float:right !important;
    }
    .role-container{
        display: block;
        margin-top: -10px !important;
        font-weight: bolder;
    }

    .address-container{
        display: block;
        margin-top: 10px !important;
        font-style: italic;
    }

    .contact-container{
        margin-top: 10px;
        padding-bottom: 35px;
        border-bottom: black thick solid;
    }

    .phone-container{
        display: inline-block;
        float: left;
    }
    .section-container{
        margin-top: 40px;
        margin-bottom: 20px;
        display: block;
        background-color: #f2f2f2;

    }
    .section-title{
        text-decoration: underline;
        text-align: center !important;
    }
    .type-of-degree{
        display: inline-block !important;
        margin-top: 10px !important;
        margin-left: -90px;
        float: left !important;
    }

    

    .email-container{
        display: inline-block;
        float:right;
    }

    .job-title{
        display: inline-block;
        font-weight: bolder;
        font-size: 15px;
        margin-bottom: 10px;
        float:left;
    }

    .job-duration{
        display: inline-block;
        float:right;
        margin-bottom: 10px;
    }
    .job-description{
        display: inline-block;
        margin-top: -10px;
    }


    .education-title{
        display: inline-block;
        font-weight: bolder;
        font-size: 20px;
        margin-bottom: 10px;
        float:left;
    }

    .graduated-year{
        display: inline-block;
        float:right;
        margin-bottom: 10px;
    }


    

   
}
@media screen {
    .CVPDF {
        display: none;
    }    
    h1 span.subTitle{
        display: block;
        font-size: 0.7em !important;
        font-weight: lighter;
    }
    .section-title{
        text-align: center !important;
    }

}



